---
import {
	Card,
	CardDescription,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import { Container } from "@/components/ui/container";
import Layout from "@/layouts/layout.astro";
import type { ImageMetadata } from "astro";

import mihaelaPopescuImage from "@/assets/team/MIHAELA-POPESCU.jpeg";
import tudorIGeorgeAurelianImage from "@/assets/team/GEORGE-TUDOR.jpeg";
import paulIordanImage from "@/assets/team/PAUL-IORDAN.jpeg";
import ilieRosuImage from "@/assets/team/ILIE-ROSU.jpeg";
import mariaTanasiciucImage from "@/assets/team/MARIA-TANASICIUC.jpeg";
import paraschivFlorinImage from "@/assets/team/PARASCHIV-FLORIN.jpeg";
import florinGhitaImage from "@/assets/team/FLORIN-GHITA.jpeg";
import aureliaIonitaImage from "@/assets/team/AURA-IONITA.jpeg";
import ionelMihaiImage from "@/assets/team/IONEL-MIHAI.jpeg";
import marianStoicaImage from "@/assets/team/MARIAN-STOICA.jpeg";
import luizaCalinaImage from "@/assets/team/LUIZA-CALINA.jpeg";
import iulianCostinelTuguiImage from "@/assets/team/IULIAN-COSTINEL-TUGUI.jpeg";
import gheorgheCocosImage from "@/assets/team/GHEORGHE-COCOS.jpeg";
import alinNegoitaImage from "@/assets/team/ALIN-NEGOITA.jpeg";
import ilieMarioEduardImage from "@/assets/team/MARIO-EDUARD-ILIE.jpeg";
import gheorgheAlexandruGeorgianImage from "@/assets/team/ALEXANDRU-GHEORGHE.jpeg";
import { Image } from "astro:assets";


interface TeamMember {
	name: string;
	subtitle: string;
	photo?: ImageMetadata;
	description: string;
}

const team: TeamMember[] = [
	{
		name: "Aurelia Ionita",
		subtitle: "43 ani, Jurist, Director General",
		photo: aureliaIonitaImage,
		description:
			"Candidez pentru funcția de consilier local din partea Partidului Social Democrat din dorința de a contribui la dezvoltarea satului și comunei noastre, iar pentru asta ma angajez sa imi aduc toata experienta si cunostintele, in vederea indeplinirii obiectivelor pe care ni le-am propus ca echipa.",
	},
	{
		name: "Ilie Rosu",
		subtitle: "58 ani, Ofiter in rezerva, Administrator la propria afacere",
		photo: ilieRosuImage,
		description:
			"Impreuna cu echipa mea, imi doresc sa contribui la evolutia localitatii noastre, astfel incat sa fie o atractie pentru mediul de afaceri si pentru potentiali investitori, cu toate avantajele pe care le poate oferi o localitate care prospera.",
	},
	{
		name: "Tudor I. George-Aurelian",
		subtitle:
			"33 ani, Cadru didactic asociat doctor Academia de Studii Economice din Bucuresti, Economist Vulpoi & Toader Management SRL, Doctor in domenul contabilitate",
		photo: tudorIGeorgeAurelianImage,
		description:
			"Candidez pentru pozitia de consilier local animat de dorinta de a aduce o schimbare in comunitatea noastra prin implementarea unor proiecte de dezvoltare economico-sociala. Obiectivele pe care le promovez vin ca raspuns la nevoile majore identificate in plan local. In acest scop, am decis sa pun in slujba comunitatii din care fac parte intreaga mea experiența profesionala si culturala, calitati care ma recomanda pentru ocuparea postului pentru care candidez.",
	},
	{
		name: "Paul Iordan",
		subtitle: "59 de ani, Pensionar",
		photo: paulIordanImage,
		description:
			"Alături de Roxana Tenciuc și de o echipă ambițioasă si competenta vreau să demonstram că putem imbunatati viata in comuna noastra.",
	},
	{
		name: "Florin Ghita",
		subtitle: "37 de ani, Consilier juridic",
		photo: florinGhitaImage,
		description:
			"Imi doresc sa-mi folosesc experienta acumulata in cei 8 ani in domeniul juridic pentru a oferi suport si consiliere cetatenilor din comuna noastra si pentru a putea realiza toate obiectivele pe care le am impreuna cu echipa din care fac parte.",
	},
	{
		name: "Maria Tanasiciuc",
		subtitle: "42 ani, Medic veterinar",
		photo: mariaTanasiciucImage,
		description:
			"Obiectivul meu este sa susțin programe educationale accesibile și de calitate într-o localitate moderna și sigura pentru toți cetățenii ei.",
	},
	{
		name: "Gheorghe Cocos",
		subtitle: "51 ani, Constructor, Administrator",
		photo: gheorgheCocosImage,
		description:
			"Alături de echipa mea, imi doresc sa schimbam imaginea comunei, traiul cetatenilor si viitorul copiilor nostri in unul care sa le ofere toate oportunitatile de care au nevoie.",
	},
	{
		name: "Alin Negoita",
		subtitle:
			"28 de ani",
		photo: alinNegoitaImage,
		description:
			"Absolvent al Facultatii de Administratie si Relatii Internationale, m-am decis sa intru in aceasta provocare alaturi de o echipa competenta si pregatita sa raspunda nevoilor cetatenilor din Ciorogarla si Darvari si pentru ca imi doresc sa aduc schimbari pozitive si beneficii tuturor locuitorilor. Plec la drum ca acum 4 ani, cu o determinare puternica si sunt pregatit sa ma implic activ in rezolvarea problemelor comunitatii noastre, la fel ca pana acum.",
	},
	{
		name: "Marian STOICA",
		subtitle:
			"27 de ani, Tehnician in activitati economice, Student la Ingineria Mediului la USAMV Bucuresti",
		photo: marianStoicaImage,
		description:
			"Consider ca prin experienta acumulata in acesti 2 ani ca si consilier, dar si faptul ca mereu am lucrat cu oameni care m-au facut sa inteleg mai bine nevoile fiecaruia, pot participa cu succes la schimbarea de care avem toti nevoie.",
	},
	{
		name: "Gheorghe Alexandru Georgian",
		subtitle: "32 ani, Frizer",
		photo: gheorgheAlexandruGeorgianImage,
		description:
			"Imi doresc sa particip activ la dezvoltarea comunei noastre si sa punem in aplicare obiectivele comune pe care le avem ca echipa.",
	},
	{
		name: "Mihaela Popescu",
		subtitle: "56 ani, Designer de Interior si Exterior, Inginer",
		photo: mihaelaPopescuImage,
		description:
			"Îmi doresc să lucrez alături de echipa mea pentru o dezvoltare corectă si armonioasă din punct de vedere urbanistic al localității in care trăim, iar prin experiența si cunoștințele dobândite in 30 de ani de activitate să mă asigur ca reglementările planurilor urbanistice sunt respectate și aplicate coerent, în interesul cetățenilor comunei Ciorogârla.",
	},
	{
		name: "Paraschiv Florin",
		subtitle: "34 ani, Electrician",
		photo: paraschivFlorinImage,
		description:
			"Dorinta de a face parte dintr-o comunitate unita si dezvoltata ma face sa ma alatur echipei si obiectivelor acesteia, iar prin experienta mea, sa pot aduce sprijin si suport indeplinirii nevoilor cetatenilor comunei noastre.",
	},
	{
		name: "Ionel Mihai",
		subtitle: "39 ani, vopsitor auto",
		photo: ionelMihaiImage,
		description:
			"Dupa ce am fost plecat in strainatate 14 ani, m-am intors in tara in speranta ca pot contribui la un viitor mai bun pentru copiii nostri, ai tuturor.",
	},
	{
		name: "Luiza Calina",
		subtitle:
			"50 ani, Relații Publice și Comunicare, Referent Resurse Umane, Instructor Preparator Formare",
		photo: luizaCalinaImage,
		description:
			"Doresc să contribui la sprijinirea familiilor defavorizate și să promovez accesul copiilor și tinerilor la educație pentru a le oferi șanse egale în viață.",
	},
	{
		name: "Iulian Costinel Țugui",
		subtitle: "31 de ani, Expert în gestionarea proiectelor, Leadership",
		photo: iulianCostinelTuguiImage,
		description:
			"Prin candidatura mea, îmi propun să aduc o abordare pragmatică și eficientă în administrarea locală, să inițiez și să coordonez proiecte care să sprijine dezvoltarea sustenabilă a comunei Ciorogârla și să mă asigur că vocea fiecărui cetățean este auzită și luată în considerare.",
	},
	{
		name: "Ilie Mario-Eduard",
		subtitle: "28 ani, Psiholog, Dezvoltator IT fullstack",
		photo: ilieMarioEduardImage,
		description:
			"Mă angajez să mă dedic aducerii de îmbunătățiri semnificative și să mă asigur că vocea comunității noastre este nu doar auzită, dar și respectată.",
	},
];
---

<Layout>
	<Container>
		<h1 class="font-bebas text-4xl uppercase">
			CANDIDATI LA FUNCTIA DE CONSILIERI LOCALI DIN PARTEA PARTIDULUI SOCIAL DEMOCRAT
		</h1>

		<div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{
				team.map((member) => (
					<Card>
						{member.photo && (
							<Image
								src={member.photo}
								alt={member.name}
								class="mx-auto rounded-full mt-4 max-h-96 aspect-square object-cover object-top"
							/>
						)}
						<CardHeader className="text-center">
							<CardTitle>{member.name}</CardTitle>
							<CardDescription>{member.subtitle}</CardDescription>
							<CardDescription>
								{member.description}
							</CardDescription>
						</CardHeader>
					</Card>
				))
			}
		</div>
	</Container>
</Layout>
